extends layout

block content
  div(class="demo", ng-app="vision")
      div(class="gridster")
          ul(ng-controller="StatsController")
              li(data-row="1", data-col="1", data-sizex="2", data-sizey="2")
                  div(ng-show="swap" class="view")
                      div(class="cell")
                          div(class="data")
                              h1(class="title") Swap Usage
                              h2(class="value") {{swap.usage.toFixed(4)*100}}%
                      p(class="updated-at") Last updated at {{swap.lastUpdated}}
              li(data-row="1", data-col="2", data-sizex="2", data-sizey="2")
                  div(ng-show="cpuUsage" class="view")
                      div(class="cell")
                          div(class="data")
                              h1(class="title") CPU Usage
                              h2(class="value") {{cpuUsage.usage}}%
                      p(class="updated-at") Last updated at {{cpuUsage.lastUpdated}}
              li(data-row="1", data-col="3", data-sizex="2", data-sizey="2")
                  div(ng-show="percUsed.ubuntu" class="view")
                      div(class="cell")
                          div(class="data")
                              h1(class="title") {{percUsed.ubuntu.path}}
                              h2(class="value") {{percUsed.ubuntu.usage*100}}%
                      p(class="updated-at") Last updated at {{percUsed.ubuntu.lastUpdated}}
              li(data-row="1", data-col="4", data-sizex="2", data-sizey="2")
                  div(ng-show="percUsed.mnt" class="view")
                      div(class="cell")
                          div(class="data")
                              h1(class="title") {{percUsed.mnt.path}}
                              h2(class="value") {{percUsed.mnt.usage*100}}%
                      p(class="updated-at") Last updated at {{percUsed.mnt.lastUpdated}}

