doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/jquery.gridster.min.css')
    script(src='/javascripts/jquery-1.11.0.js')
    script(src='/javascripts/jquery.gridster.js')
    script(src='/javascripts/angular.min.js')
    script(src='/javascripts/main.js')
  body
    block content