body {
  padding: 50px;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

a {
  color: #00B7FF;
}

.gridster {
    width: 960px;
    margin: 0 auto;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    padding:0; margin:0;
    /*list-style: none;*/
     /*text-indent: -2em;*/
}

.gridster .gs-w {
    background: #FFF;
    cursor: pointer;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.gridster .player {
    -webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}


.gridster .gs-w.try {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position: 37px -169px;

}

.gridster .preview-holder {
    border: none!important;
    border-radius: 0!important;
    background: rgba(255,255,255,.2)!important;
}

/* Gridster styles */
.demo {
    margin: 3em 0;
    padding: 7.5em 0 5.5em;
    background: #004756;
}

li {
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.cell {
    display:table;
    height: 85%;
    width: 100%;
}

.data {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.updated-at {
    position: relative;
    text-align: center;
}

.view {
    height: 100%;
    width: 100%;
}
